<div class="container">
  <tabset justified="true">
    <tab heading="Justified" ng-class="{active: $route.current.activetab == 'setup'}"></tab>
    <tab heading="SJ" ng-class="{active: $route.current.activetab == 'game'}"></tab>
    <tab heading="Long Justified" ng-class="{active: $route.current.activetab == 'stats'}"></tab>
  </tabset>
  <br>
  Select course: 
  <select ng-model="currentGame.courseId">
    <option ng-repeat="course in courses" value="{{course.id}}" ng-selected="course.id == currentGame.courseId">{{course.name}}</option>
  </select>
  <div class="container">
    <div class="list">
      <ul> <h5>Current players</h5>
        <li ng-repeat="player in currentGame.players">
          <button class="btn btn-success" ng-click="currentGame.removePlayer(player)">
            <span class="glyphicon glyphicon-remove"></span>{{player.name}}
          </button>
        </li>
      </ul>
    </div>
    <div class="list">
      <ul> <h5>All users</h5>
        <li ng-repeat="user in users" ng-show="!isPlaying(user)">
          <button class="btn btn-success" ng-click="currentGame.addPlayer(user)">
            <span class="glyphicon glyphicon-user"></span>{{user.name}}</button>
        </li>
      </ul>
    </div>
  </div>


  <div class="container" ng-controller="dtpCtrl">
    <p class="input-group">
      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="'2010-01-01'" max-date="'2050-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
</div>             