<div class="container">
  <thread><tr>
      <h4>Discgolf {{}}</h4>
  </tr></thread>
      Select course: 
      <div class="btn-group">
        <select ng-model="selectedCourseId">
          <option ng-repeat="course in courses" value="{{course.id}}" ng-selected="course.id == currentGame.courseId">{{course.name}}</option>
        </select>
      </div>

  <table class="table table-striped" style="width:50%">
    <thead><tr>
      <th>Players</th>
    </tr></thead>
    <tr ng-repeat="player in currentGame.players">
      <td>
        <div class="btn-group">
          <button class="btn btn-success" ng-click="removeUser(player.id)"> 
            {{player.name}}
          </button>
        </div>
      </td>
      <td>
        Hej
      </td>
    </tr>
  </table>


  <input type="text" ng-model="newUserName">
  <button class="btn btn-success" ng-click="addUser(newUserName)">
    <span class="glyphicon glyphicon-user"></span> New Player
  </button>


  <button class="btn btn-success" ng-disabled="error || incomplete">
    <span class="glyphicon glyphicon-save"></span> Save Changes
  </button>
</div>             