<div class="container">
  <thread><tr>
      <h4>Discgolf {{}}</h4>
  </tr></thread>
  <div>
    <label ng-repeat="course in courses">
            <button class="btn btn-success" ng-click="setCourse(course.id)">
                    <span class ="glyphicon glyphicon-{{ getCourseIcon(course.id) }}"></span> &nbsp;&nbsp;{{ course.name }}
            </button>
    </label>
  </div>
  <table class="table table-striped">
    <thead><tr>
      <th>Players</th>
    </tr></thead>
    <tbody><tr ng-repeat="player in players">
      <td>
        <button class="btn" ng-click="removePlayer(player.id)">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;{{ player.name }}
        </button>
      </td>
    </tr></tbody>
    <tr>
      Select course: 
      <div class="btn-group" dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </table>

  <hr>
  <input type="text" ng-model="newUserName">
  <button class="btn btn-success" ng-click="addUser(newUserName)">
    <span class="glyphicon glyphicon-user"></span> New Player
  </button>
  <hr>


  <button class="btn btn-success" ng-disabled="error || incomplete">
    <span class="glyphicon glyphicon-save"></span> Save Changes
  </button>
</div>             